server:
  port: 8081

spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD}